[submodule "api-gateway/equmedia-api"]
	path = api-gateway/equmedia-api
	url = https://github.com/pixeliner/equmedia-api
[submodule "microservices/equmedia-auth-service"]
	path = microservices/equmedia-auth-service
	url = https://github.com/pixeliner/equmedia-auth-service
[submodule "microservices/equmedia-mail-service"]
	path = microservices/equmedia-mail-service
	url = https://github.com/pixeliner/equmedia-mail-service
[submodule "proxy/equmedia-proxy"]
	path = proxy/equmedia-proxy
	url = https://github.com/pixeliner/equmedia-proxy
